@import "../../styles/variables";
.header {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    padding-bottom: 1.875rem;
    padding-top: 0.625rem;
}

.fullScreen {
    height: 100vh;
}

.nav {
    opacity: 0;
    // position: absolute;
    z-index: -1;

    &.active {
        opacity: 1;
        z-index: 2;
    }
}

.navList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    li{
      padding: 2rem 0;
    }
}

.link {
    // margin: 0 2.5rem;

    &:last-child {
        margin-right: 0;
    }

    &.active,
    &:hover {
        color: $primary;
    }
}

@media (min-width: 48em) {
    .header {
        padding-bottom: 1.875rem;
        padding-top: 1.875rem;
    }

    .trigger {
        display: none;
    }

    .nav {
        opacity: 1;
        position: initial;
        z-index: 1;
    }

    .navList{
      flex-direction: row;
      li{
        padding:0 0 0 1.8rem ;
      }
    }
}
