@import "./variables.scss";


.highlight {
  color: $neutro;
  font-size: 1.3125rem;
  line-height: 1.5;
}

.gallery {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li:not(:last-child) {
    margin: 0 0 1.875rem;
    width: calc((100% - 1.875rem) / 2);
  }

  li:last-child {
    width: 100%;
  }
}

.link {
  font-family: $secondaryFont;
  font-size: 2rem;
  
  display:flex;
  flex-direction: column;
  padding: 1.2rem;
  

}

.label {
  color: $neutro;
  font-size: 1rem;
}

.navigation{
  margin:2rem;
  display:flex;
  flex-direction: column;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: $neutro;

  a:first-child{
    text-align: right;
    border-bottom: 1px solid;
  }
}


@media (min-width: 48em) {
.navigation{
  flex-direction: row;
  a:first-child{
    text-align: left;
  }
  a:last-child{
    text-align: right;
    border-left: 1px solid;
  }
}

.link{
  width: 50%;
}
}